body
	{
		background: #0b1522;
		margin:0;
		padding:0;
		min-height:100vh;
		display: flex;
		align-items: center;
		justify-content:center;
	}
#All
	{
		Display: Flex;
		grid-gap:35px;
	}
.Waves
	{
		Background:white;
		height:200px;
		width:330px;
		margin:0;
		padding:0;
		display: flex;
		align-items: center;
		justify-content:center;
		grid-template-column: auto auto auto auto auto auto auto;
		grid-gap:35px;
		border-radius:20px;
	}
.W1
	{
		height:10px;
		width:10px;
		background:#d20000;
		border-radius:5px;
		animation: Od;
		animation-duration:1.3s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
@keyframes Od
	{
		100%
			{
				height:150px;
			}
	}
.W2
	{
		height:150px;
		width:10px;
		background:#d20000;
		border-radius:5px;
		animation: Evn;
		animation-duration:1.3s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
@keyframes Evn
	{
		100%
			{
				height:10px;
			}
	}
.Circle
	{
		Background:white;
		height:200px;
		width:330px;
		margin:0;
		padding:0;
		display: flex;
		align-items: center;
		justify-content:center;
		grid-template-column: auto auto auto auto;
		grid-gap:35px;
		border-radius:20px;
	}
.C1
	{
		background: #1a1a1a;
		height: 10px;
		width: 10px;
		border-radius: 50px;
		box-shadow: 3px 5px 30px #090909;
		animation: Balls1;
		animation-duration:1.3s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
@keyframes Balls1
	{
		100%
			{
				Height:50px;
				Width: 50px;
			}
	}
.C2
	{
		background: #1a1a1a;
		height: 50px;
		width: 50px;
		border-radius: 50px;
		box-shadow: 3px 5px 30px #090909;
		animation: Balls2;
		animation-duration:1.3s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
@keyframes Balls2
	{
		100%
			{
				Height:10px;
				Width: 10px;
			}
	}
.S-Waves
	{
		Background:white;
		height:200px;
		width:330px;
		margin:0;
		padding:0;
		display: flex;
		align-items: center;
		justify-content:center;
		grid-template-column: auto auto auto auto auto auto auto;
		grid-gap:35px;
		border-radius:20px;
	}

.SW1-7
	{
		height:10px;
		width:10px;
		background:#3c3cff;
		border-radius:5px;
		animation: W-1;
		animation-duration:1s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
@keyframes W-1
	{
		100%
			{
					height:50px;
			}
	}
.SW2-6
	{
		height:10px;
		width:10px;
		background:#3c3cff;
		border-radius:5px;
		animation: W-2;
		animation-duration:1s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-delay:0.2s;
	}
@keyframes W-2
	{
		100%
			{
					height:60px;
			}
	}
.SW3-5
	{
		height:10px;
		width:10px;
		background:#3c3cff;
		border-radius:5px;
		animation: W-3;
		animation-duration:1s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-delay:0.4s;
	}
@keyframes W-3
	{
		100%
			{
					height:70px;
			}
	}
.SW4
	{
		height:10px;
		width:10px;
		background:#3c3cff;
		border-radius:5px;
		animation: W-4;
		animation-duration:1s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-delay:0.6s;
	}
@keyframes W-4
	{
		100%
			{
					height:80px;
			}
	} 

.S-Circle
	{
		Background:white;
		height:200px;
		width:330px;
		margin:0;
		padding:0;
		display: flex;
		align-items: center;
		justify-content:center;
		grid-template-column: auto auto auto auto;
		grid-gap:40px;
		border-radius:20px;
	}
.SC1
	{
		background: #ecec00;
		height: 10px;
		width: 10px;
		border-radius: 50px;
		box-shadow: 3px 5px 30px #ecec00;
		animation: Sc-1;
		animation-duration:1.3s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
@keyframes Sc-1
	{
		100%
			{
				height: 30px;
				width: 30px;
			}
	}
.SC2
	{
		background: #ecec00;
		height: 10px;
		width: 10px;
		border-radius: 50px;
		box-shadow: 3px 5px 30px #ecec00;
		animation: Sc-2;
		animation-duration:1.3s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-delay: 0.2s;
	}
@keyframes Sc-2
	{
		100%
			{
				height: 30px;
				width: 30px;
			}
	}
.SC3
	{
		background: #ecec00;
		height: 10px;
		width: 10px;
		border-radius: 50px;
		box-shadow: 3px 5px 30px #ecec00;
		animation: Sc-3;
		animation-duration:1.3s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-delay: 0.4s;
	}
@keyframes Sc-3
	{
		100%
			{
				height: 30px;
				width: 30px;
			}
	}
.SC4
	{
		background: #ecec00;
		height: 10px;
		width: 10px;
		border-radius: 50px;
		box-shadow: 3px 5px 30px #ecec00;
		animation: Sc-4;
		animation-duration:1.3s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-delay: 0.6s;
	}
@keyframes Sc-4
	{
		100%
			{
				height: 30px;
				width: 30px;
			}
	}
.SC5
	{
		background: #ecec00;
		height: 10px;
		width: 10px;
		border-radius: 50px;
		box-shadow: 3px 5px 30px #ecec00;
		animation: Sc-5;
		animation-duration:1.3s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-delay: 0.8s;
	}
@keyframes Sc-5
	{
		100%
			{
				height: 30px;
				width: 30px;
			}
	}